<div class="container">
    <div class="block">
        <p>Angular List of prohibited words</p>
        <hr>
        <div class="button">
            <button type="button" class="btn btn-primary" [routerLink]="[ '/works/cenzor' ]" routerLinkActive="active">details</button>
        </div>
    </div>
    <div class="block">
        <p>Angular task list</p>
        <hr>
        <div class="button">
            <button type="button" class="btn btn-primary" [routerLink]="[ '/works/userstask' ]" routerLinkActive="active">details</button>
        </div>
    </div>
    <div class="block">
        <p>Angular users list</p>
        <hr>
        <div class="button">
            <button type="button" class="btn btn-primary" [routerLink]="[ '/works/userslist' ]" routerLinkActive="active">details</button>
        </div>
    </div>
    <div class="block">
        <p>Angular phone book</p>
        <hr>
        <div class="button">
            <button type="button" class="btn btn-primary" [routerLink]="[ '/works/phonebook' ]" routerLinkActive="active">details</button>
        </div>
    </div>
</div>